h1 {
    color:aqua;  
  }
 
  .header{
  background-color: pink;
  display:flex;
  justify-content: space-between;
  }
  .body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;     
  }
  .item{
  background-color: cyan;
  display: flex; 
  justify-content: space-between; 
  }
  body{
    background-color: #808080;
   

  }
